# Cloudflare Tunnel runtime settings
TUNNEL_METRICS=127.0.0.1:20241
CLOUDFLARE_TUNNEL_TOKEN=
TUNNEL_AUTO_INSTALL_CLOUDFLARED=1
CLOUDFLARED_BIN_PATH=/home/container/.cloudflared/bin/cloudflared

# Optional
TUNNEL_ENABLED=1
CLOUDFLARED_LOG_PATH=./cloudflare/cloudflared.log
CLOUDFLARED_PID_PATH=./cloudflare/cloudflared.pid
